body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('path-to-background-image.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    background-color: rgba(244, 245, 248, 0.8);
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    margin-bottom: 20px;
}

.logo img {
    max-width: 150px;
}

h2 {
    color: #1a73e8;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #1a3c;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #1a3c;
}

.forgot-password {
    margin-top: 10px;
    color: #1a73e8;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}